<div class="footer">
  <p>&copy; 2018 The Device Management System</p>
</div>

<style>
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    text-align: center;
}
</style>

<!-- jQuery -->
<script th:src="@{/vendor/jquery/js/jquery.min.js}"></script>

<!-- Bootstrap Core JavaScript -->
<script th:src="@{/vendor/bootstrap/js/bootstrap.min.js}"></script>

<!-- Metis Menu Plugin JavaScript -->
<script th:src="@{/vendor/metisMenu/js/metisMenu.min.js}"></script>

<!-- Custom Theme JavaScript -->
<script th:src="@{/vendor/sb-admin-2/js/sb-admin-2.js}"></script>